/*-------------------------------------
 login_form
-------------------------------------*/
#login_form {
	width: 600px;
	height: 400px;
	margin: 70px auto 0 auto;
	padding: 10px;
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
}

#login_form table {
	margin: 30px auto 0 auto;
}

#login_form table tr {
	height: 35px;
}

#login_form tr.error {
	height: 25px;
	font-size: 13px;
	color: red;
}


#login_form input[type="text"],
#login_form input[type="password"] {
	width: 282px;
	padding: 3px;
	border: 1px solid lightgray;
	border-radius: 2px;
	font-size: 15px;
}

#login_form input[type="text"]:focus,
#login_form input[type="password"]:focus {
	box-shadow: 0 0 4px 0 lightgray inset;
}

#login_form input[type="submit"].button {
	width: 290px;
	height: 30px;
	font-size: 15px;
}